<nav class="navbar navbar-expand-lg navbar-light bg-white mb-5 sticky-top shadow p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">
        <picture>
          <source srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Animal_Planet_logo_%28black_and_green%29.svg/1200px-Animal_Planet_logo_%28black_and_green%29.svg.png" media="(min-width: 1400px)">
          <source srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Animal_Planet_logo_%28black_and_green%29.svg/1200px-Animal_Planet_logo_%28black_and_green%29.svg.png" media="(min-width: 769px)">
          <source srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Animal_Planet_logo_%28black_and_green%29.svg/1200px-Animal_Planet_logo_%28black_and_green%29.svg.png" media="(min-width: 300px)">
          <img srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Animal_Planet_logo_%28black_and_green%29.svg/1200px-Animal_Planet_logo_%28black_and_green%29.svg.png" alt="responsive image" class="d-block img-fluid" width="100" height="100">
        </picture>
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-start">
        <form class="d-flex ml-2" method="post" action="{{path('search')}}">
          <input class="form-control me-1 w-100 " type="search" name="search" placeholder="Recherche"
            aria-label="Search">
          <button class="btn btn-warning teal" type="submit"><i class="fas fa-search"></i></button>
        </form>
        {% if app.request.attributes.get('_route') != "home" %}
        <li class="nav-item ml-2 ">
          <a class="nav-link active" aria-current="page" href="{{ path ('home') }}"><i class="fa fa-home teal-1"></i> Accueil</a>
        </li>
        {% else %}
        {% endif %}
        <li class="nav-item ml-2">
          <div class="dropdown">
            <a class="btn btn-transparency dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-paw teal-1"></i> Animaux
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{{ path('animaux_index') }}">Nos animaux</a></li>
              <hr>
              <li><a class="dropdown-item" href="{{ path('chien') }}">Chien</a></li>
              <li><a class="dropdown-item" href="{{ path('chat') }}">Chat</a></li>
              <li><a class="dropdown-item" href="{{ path('rongeur') }}">Rongeur</a></li>
              <li><a class="dropdown-item" href="{{ path('oiseaux') }}">Oiseaux</a></li>
              <li><a class="dropdown-item" href="{{ path('reptile') }}">Reptile</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item ml-2">
          <div class="dropdown">
            <a class="btn btn-transparency dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-leaf teal-1"></i> Shop
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{{path('accessoire_index')}}">Nos accessoires</a></li>
              <hr>
              <li><a class="dropdown-item" href="{{ path('accessoire_alimentation') }}">Alimentations</a></li>
              <li><a class="dropdown-item" href="{{ path('accessoire_habitat') }}">Cages/Enclos</a></li>
              <li><a class="dropdown-item" href="{{ path('accessoire_jeux') }}">Jeux</a></li>
              <li><a class="dropdown-item" href="{{ path('accessoire_soins') }}">Soins</a></li>
            </ul>
          </div>
        </li>

      </ul>
      <ul class="navbar-nav justify-content-end">

        {% if (app.user) %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('account_logout') }}">Déconnexion</a>
        </li>

        <li class="nav-item ml-2">
          <div class="dropdown">
            <a class="btn btn-transparency dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">
              Mon Compte
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{{path('account_profil')}}">Mon profil</a></li>
              <hr>
              <li><a class="dropdown-item" href="#">Ma liste</a></li>
              <li class="nav-item ml-2">
              <li><a class="dropdown-item m-auto" href="{{path('panier_index')}}">Mon Panier <i
                    class="fas fa-shopping-basket"></a></li>
              <li><a class="dropdown-item" href="#">Mes code promos</a></li>
              <li><a class="dropdown-item" href="#">Modifier mon profil</a></li>
              <li><a class="dropdown-item" href="#">Modifier password</a></li>
            </ul>
            {% else %}
        <li class="nav-item active ml-2">
          <a class="nav-link active " aria-current="page" href="{{path('account_login')}}"><i class="fas fa-user-circle teal-1"></i> Connexion</a>
        </li>
        <li class="nav-item active ml-2">
          {#  <a class="nav-link" aria-current="page" href="{{path('account_register')}}">Inscription</a> #}
        </li>
        {% endif %}
        <li class="nav-item ml-2">
          <a class="btn btn-warning teal" aria-current="page" href="{{path('panier_index')}}">Panier <i class="fas fa-shopping-basket"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>

</nav>
{% if app.request.attributes.get('_route') == "home" %}
{% if (app.user) %}
<div class="col-sm-3 m-auto">
  <div class="alert alert-success">
    Bonjour {{ app.user }} , content de vous revoir !
  </div>
</div>
{% endif %}
{% endif %}
{% for label, messages in app.flashes %}

<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">

  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}